# Map provider options: komoot | opentopomap | osm | stamen
REACT_APP_MAP_PROVIDER=komoot

# If you want the Thunderforest 'Outdoors' tiles (komoot-like) set your key here.
# Get a key from https://www.thunderforest.com/
REACT_APP_THUNDERFOREST_KEY=bd2cbf821b694c9996bbccfe444dfef1
